astropy==5.1
jupyter==1.0.0
matplotlib==3.5.2
numba==0.53.1
numpy==1.19.3
opencv-python==4.6.0.66
pandas==1.4.3
scikit-image==0.19.3
scikit-learn==1.1.1
tabulate==0.8.10
tifffile==2022.5.4
tqdm==4.64.0
